body {
    margin: 0px;
    padding: 0px;
}

.app-container {
    position: relative;
}

.header__container {
    padding: 10px 20px 10px 20px;
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: white;
}

.main__container,
.contact__container,
.about__container,
.restaurant_menu__container {
    position: relative;
    top: 86px;
    min-height: calc(100vh - 90px);
}

.header_items>ul {
    display: flex;
    font-size: 18px;
}

ul>li {
    list-style-type: none;
    margin-right: 30px;
}

.logo img {
    width: 110px;
    height: 50px;
}

.restaurants___container {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.restaurant_card>h3,
h4,
h1,
h2 {
    margin: 5px;
    padding: 0px;
}

.restaurant_card>img {
    border-radius: 20px;
}

.restaurant_card {
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 250px;
    display: flex;
    flex-direction: column;
}

.restaurant_card:hover {
    border: 1px solid black;
}

.filter__section {
    margin: 20px;
}

.shimmer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.shimmar__card {
    width: 250px;
    height: 350px;
    margin: 10px;
    padding: 10px;
    background-color: #ece8e5;
}

.filter__section {
    display: flex;
    justify-content: space-around;
}

.footer__Container {
    position: relative;
    bottom: 0px;
}


.restaurant_menu__container {
    margin: 10px;
    display: flex;
    justify-content: space-around;
}

.inner__container {
    width: 50%;
}

.basic__info{
    border: 2px solid #e0dfde;
    padding: 10px;
    border-radius: 10px;
}

.menu__item{
    border-bottom: 1px solid #e0dfde;
}

.menu__item .description {
    color: #928d8b;
}
.basic__info p {
    color: red;
    text-decoration: underline;
}

.menu__lists{
    margin: 10px;
}

.menu__lists h2 {
    text-align: center;
}

.menu__item .food__type{
    margin-top: 5px;
    height: 20px;
    width: 20px;
}
.menu__item{
    display: flex;
}
.menu__item img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    align-self: center;
}
.menu__item h3, h2 {
    margin: 10px 0px;
}

.menu__filter{
    margin: 10px 0px;
}

.res__card_link {
    text-decoration: none !important;
    color: black !important;
}